.ProgressBar {
  width: 100%;
  height: 0.5rem;
  background-color: var(--text-g-color);
  border-radius: 0.3125rem;
  margin: 0.625rem;

  .barChart {
    height: 100%;
    background-color: #93f376;
    border-radius: 0.3125rem;
    max-width: 7.5rem;
  }
}
